body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Garnett-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2vw;
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: black;
}

.or-image-container {
  position: fixed;
  top: 5%;
  width: 90%;
  margin: 0 5%;
}

.or-main-gif {
  width: 30%;
}
