body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: helvetica;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.or-back-container {
  position: fixed;
  top: 2%;
  left: 5%;
  width: 3%;
}

.or-navigation-container {
  position: fixed;
  top: 2%;
  width: 15%;
  margin: 0 42.5%;
}

.or-navigation-container--right {
  position: fixed;
  top: 50%;
  width: 15%;
  right: -5%;
  transform: rotate(90deg);
}

.or-emoji {
  width: 47%;
}

.or-name-container {
  position: fixed;
  left: 2%;
  bottom: 2%;
}

@keyframes flashing-text {
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

.or-landing-image-container {
  position: absolute;
  width: 60%;
  margin: 0 20%;
  top: 20%;
}

.or-landing-image {
  width: 100%;
}

.or-name-container--mobile {
  display: none;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .or-back-container {
    width: 4%;
  }


  .or-navigation-container--right {
    display: none;
  }

  .or-name-container {
    display: none;
  }

  .or-landing-image-container {
    position: absolute;
    width: 80%;
    margin: 0 10%;
    top: 20%;
  }

  .or-navigation-container {
    position: fixed;
    top: 2%;
    width: 40%;
    margin: 0 30%;
  }

  .or-name-container--mobile {
    position: fixed;
    font-size: 4vw;
    text-align: center;
    bottom: 3%;
    display: block;
    width: 100%;
  }



}
