body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.or-page-content {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
}

/* Star Styling */

.ao-star-container {
  position: fixed;
  width: 3%;
  top: -2%;
  right: 10%;
  animation-name: star-one;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1000;
  pointer-events: none;
}

.ao-star-flash {
  animation-name: flashing-star;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes star-one {
  0% {
    top: 10%;
    right: -2%;
  }
  50% {
    top: 50%;
    right: 104%;
  }
  100% {
    top: 70%;
    right: -5%;
  }
}

/* Emoji Nav Styling */

.or-header-container {
  position: absolute;
  width: 50%;
  margin: 0 25%;
  z-index: 99;
  pointer-events: none;
}

.or-emoji {
  width: 100%;
}

.or-main-content {
  position: absolute;
  width: 100%;
}

/* Landing Image Styling */

.or-landing-image-container {
  width: 60%;
  margin: 0 20%;
  padding-top: 150px;
}

.or-landing-image {
  width: 100%;
}

.or-video-margin {
  width: 100%;
}

/*Word Nav Styling */

.or-nav-container {
  position: fixed;
  bottom: 3%;
  left: 2%;
  font-weight: bold;
}

.or-nav-container--mobile {
  display: none;
}

.or-nav-container-top {
  position: fixed;
  top: 3%;
  left: 2%;
  font-weight: bold;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    overflow: hidden;
  }

  /* Star Styling */

  .ao-star-container {
    width: 10%;
  }

  @keyframes star-one {
    0% {
      top: 20%;
      right: -8%
    }
    50% {
      top: 70%;
      right: 105%;
    }
    100% {
      top: 90%;
      right: -15%;
    }
  }

  /* Emoji Nav Styling */

  .or-header-container {
    width: 80%;
    margin: 0 10%;
    pointer-events: none;
  }

  /* Landing Image Styling */

  .or-landing-image-container {
    width: 90%;
    margin: 0 5%;
    padding-top: 200px;
  }

  .or-video-margin {
    width: 100%;
    margin: 0;
  }

  /*Word Nav Styling */

  .or-nav-container {
    display: none;
  }

  .or-nav-container--mobile {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    z-index: 98;
    top: 0;
  }

  .or-nav-container--mobile-inner--left {
    font-weight: bold;
    font-size: 4vw;
    left: 0;
    float: left;
    padding: 50px;
    width: 35%;
    bottom: 0;
  }

  .or-nav-container--mobile-inner--right {
    font-weight: bold;
    font-size: 4vw;
    right: 0;
    float: right;
    text-align: right;
    padding: 50px;
    width: 35%;
    bottom: 0;
  }

  .or-back-arrow-image {
    width: 15%;
  }

  .or-nav-container-top {
    display: none;
  }

}
