body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: tahoma;
  font-size: 2vw;
}

a {
  animation-name: flashing-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-decoration: none;
  color: black;
}

a:hover {
  color: aliceblue;
}

.or-navigation-container {
  position: fixed;
  top: 2%;
  width: 15%;
  margin: 0 42.5%;
}
.or-emoji {
  width: 47%;
}

.or-name-container {
  position: fixed;
  left: 2%;
  bottom: 2%;
}

@keyframes flashing-text {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

#grad {
  position: fixed;
  top: -40%;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(180deg, black, transparent);
}
