body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.or-back-container {
  position: fixed;
  top: 2%;
  left: 5%;
}

.or-navigation-container {
  position: fixed;
  top: 2%;
  width: 15%;
  margin: 0 42.5%;
}

.or-navigation-container--right {
  position: fixed;
  top: 50%;
  width: 15%;
  right: -5%;
  transform: rotate(90deg);
}

.or-emoji {
  width: 47%;
}

.or-name-container {
  position: fixed;
  left: 2%;
  bottom: 2%;
}

@keyframes flashing-text {
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

.or-composition-container {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 1%;
}

.or-composition-container--mobile {
  position: fixed;
  width: 70%;
  margin: 0 15%;
  opacity: 0;
}

.or-composition-container-left {
  position: absolute;
  width: 30%;
  left: 10%;
  float: left;
}

.or-composition-container-right {
  position: absolute;
  width: 30%;
  right: 10%;
  float: left;
}

.or-image {
  margin: 3% 0%;
  width: 100%;
}

.or-image--space {
  margin: 50% 0% 2% 0%;
}

.or-image--last {
  padding: 0% 0% 2% 0%;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .or-navigation-container {
    position: fixed;
    top: 2%;
    width: 40%;
    margin: 0 30%;
  }

  .or-navigation-container--right {
    top: 45%;
    width: 15%;
    right: -3%;
    font-size: 4vw;
  }

  .or-name-container {
    font-size: 4vw;
    left: 4%;
  }

  .or-composition-container {
    top: 15%;
  }

  .or-composition-container--mobile {
    position: absolute;
    opacity: 1;
  }

  .or-composition-container-left {
    display: none;
  }

  .or-composition-container-right {
    display: none;
  }

  .or-image--space {
    margin: 30% 0% 2% 0%;
  }

}
