body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: tahoma;
  font-size: 2vw;
}

a {
  animation-name: flashing-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-decoration: none;
  color: black;
}

.or-page {
  position: relative;
  width: 100%;
}

.or-navigation-container {
  position: fixed;
  top: 2%;
  width: 15%;
  margin: 0 42.5%;
}

.or-emoji {
  width: 47%;
}

.or-name-container {
  position: fixed;
  left: 2%;
  bottom: 2%;
}

@keyframes flashing-text {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.or-composition-container {
  position: absolute;
  width: 50%;
  margin: 0 25%;
  top: 20%;
  padding: 0;
}

.or-image {
  width: 10%:
}
