body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: helvetica;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.or-back-container {
  position: fixed;
  top: 2%;
  left: 5%;
  width: 3%;
}

.or-navigation-container {
  position: fixed;
  top: 2%;
  width: 15%;
  margin: 0 42.5%;
}

.or-navigation-container--right {
  position: fixed;
  top: 50%;
  width: 15%;
  right: -5%;
  transform: rotate(90deg);
}

.or-emoji {
  width: 47%;
}

.or-name-container {
  position: fixed;
  left: 2%;
  bottom: 2%;
}

@keyframes flashing-text {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.or-text-container {
  position: fixed;
  top: 20%;
  width: 70%;
  margin: 0 15%;

}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .or-back-container {
    width: 4%;
  }

  .or-navigation-container {
    position: fixed;
    top: 2%;
    width: 40%;
    margin: 0 30%;
  }

  .or-navigation-container--right {
    top: 45%;
    width: 15%;
    right: -3%;
    font-size: 4vw;
  }

  .or-name-container {
    font-size: 4vw;
    left: 4%;
  }

  .or-landing-image-container {
    position: absolute;
    width: 80%;
    margin: 0 10%;
    top: 10%;
  }

  .or-text-container {
    font-size: 4vw;
    width: 70%;
    margin: 0 15%;
    top: 20%;

  }

}
